# ── Flask ─────────────────────────────────────
FLASK_ENV=development
SECRET_KEY=change-me-to-a-long-random-string-xyz123

# ── MySQL ─────────────────────────────────────
MYSQL_USER=root
MYSQL_PASSWORD=Pb@pritam#PB
MYSQL_HOST=localhost
MYSQL_PORT=3306
MYSQL_DB=ims_db

# ── Gmail SMTP ────────────────────────────────
MAIL_USERNAME=lalbaghenterprises@gmail.com
MAIL_PASSWORD=lojn yuaa tcfn rqxa

# ── Folders ───────────────────────────────────
INVOICE_DIR=invoices
UPLOAD_FOLDER=uploads

# ── UPI Payment ───────────────────────────────
# Your registered UPI ID (e.g. yourname@upi, yourname@oksbi, yourname@paytm)
COMPANY_UPI_ID=8927770267@okbizaxis
