gunicorn==22.0.0
Flask==3.1.1
Flask-SQLAlchemy==3.1.1
Flask-Migrate==4.1.0
Flask-Login==0.6.3
Flask-WTF==1.2.2
WTForms==3.2.1
PyMySQL==1.1.1
bcrypt==4.3.0
pandas>=2.3.0
openpyxl==3.1.5
reportlab>=4.2.2
matplotlib>=3.10.0
python-dotenv==1.1.1
Pillow>=11.0.0
pyotp==2.9.0
cryptography>=45.0.0
qrcode[pil]==8.2
requests==2.32.3